#impos{
padding-top: 130px;
}
.tru{
   padding-left: 400px;
}
.tru h2{
    font-size: 48px;
    padding-left: 50px;
    font-weight: bold;
}
.tru p{
    width: 558px;
    text-align: center;
    font-size: 18px;
    font-family: "Paprika", system-ui;
    color: #726E9E;
    
}
.rai{
    padding-top: 120px;
}
.roy img{
    
    width:600px;
}