#like{
    padding-top: 120px;
}
.rao h2 {
    font-size: 40px;
    font-weight: bold;
}
.ting{
    padding-top: 40px;
}
.ping{
    padding-top: 20px;

}
.yung h2{
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.yung p{
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
}