*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
  
}
img{
    vertical-align: center;
}
.menu_bg{
    color: #fff;
}
.menu{
    color: #fff;
font-weight: 700px;
    font-size: 20px;

}

#menue{
    background-color:#b0a4cc;
    column-gap: 20px;
}
 .contact{
    text-align: center;
   align-items: center;
    border: 2px solid black;
    
    padding: 5px 5px;
    background-color: rgb(33, 187, 248);
    border-radius: 10px;
 }
 .contact h3{
    text-align: center;
 }
 .contact:hover{
    background-color: #4e12db;
    transition: .9s;
 }
