#design{
    padding-top: 120px;
    background-color: #EDE6F7;
    }
    .counter{
        text-align: center;
        display: flex;
        column-gap: 60px;
        padding-left: 200px;
        font-size: 30px;
       
      }
      .client h2{
        color: #1BBF00;
        font-weight: 700;
        font-size: 54px;
      }
      .client h4{
        font-weight: bold;
        color:#141135;
        font-family: "Open Sans", sans-serif;
      }
      
    .choose{
      padding-top: 50px;
      align-items: center;
      display: flex;
    }
    .sick{
      padding-left: 200px;
    }
    .sick h6{
      padding: 30px;
      font-family: "Paprika", system-ui;
    font-size: 18px;
    opacity:80%;
    
      width: 492px;
    }
    .why{
      padding: 30px 100px;
    }
    .why p{
    width:323px;
    padding-top: 30px;
    font-family: "Paprika", system-ui;
    font-size: 18px;
    }
    .why h2{
      font-size: 30px;
      font-weight: 800;
      text-align: center;
      color: #141135;
    }
    .hio {
      padding-top: 30px;
    }
    .hio button{
      padding: 10px 30px;
      border-radius: 20px;
      border: none;
      background-color: #1BBF00;
    }
    .hio:hover button{
      background-color: rgb(13, 227, 156);
      cursor: pointer;
      transition: .9s;
    }